@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #302e2e;
}

.container {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    border: 1px  solid;
    padding: 16px;
    background-color: #e5e5e5;
    overflow: hidden;
}

.card_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 40px; */
    gap: 20px;
    width: 944px;
    height: 623px;
    border-radius:  0 30px 30px 0;
    background-color: #222831;
}

#input_pesquisa {
    width: 390px;
    height: 24px;
    border-radius: 12px;
    border: none;
    padding: 12px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    background-color: #B6C0CFFC;
}

.button_pesquisa {
    width: 415px;
    height: 44px;
    border-radius: 12px;
    font-size: 15px;
    letter-spacing: 0.3px;
    background: linear-gradient(90.8deg, rgba(144,217,224,0.9) 6.83%, rgba(84,96,230,0.9) 106.63%);
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.card_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 32px;
    position: relative;
    color: #fff;
    flex-basis: 38%;
    overflow: hidden;
    width: 493px;
    height: 666px;
    border-radius: 30px 0 0 30px;
    background-image: url("./assets/images/praia.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card_left::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px 0 0 30px;
    background: linear-gradient(
        180deg,
        rgba(136, 190, 191, 0.85),
        rgba(83, 91, 182, 0.85)
    );
    z-index: 0;
}

.card_left * {
    position: relative;
}

.card_left span {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.card_left h1 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 32px;
    
}

.info {
    margin-bottom: 24px;
}

.info strong {
    font-size: 13px;
    font-weight: 500;
    opacity: 0.85;
}

.info span {
    font-size: 16px;
    font-weight: 500;
}
