body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(166, 235, 166);
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px  solid;
    padding: 20px;
    background-color: #ccc;
}

#input_pesquisa {
    
}