body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #302e2e;;
}

.container {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 1px  solid;
    padding: 20px;
    background-color: #ccc;
}

.card_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 15px;
    width: 944px;
    height: 623px;
    border-radius: 25px;
    background-color: #222831;
}

#input_pesquisa {
    width: 390px;
    height: 24px;
    border-radius: 12px;
    border: none;
    padding: 12px;
    outline: none;
    background-color: #B6C0CFFC;
}

.button_pesquisa {
    width: 415px;
    height: 44px;
    border-radius: 12px;
    background: linear-gradient(90.8deg, rgba(144,217,224,0.9) 6.83%, rgba(84,96,230,0.9) 106.63%);
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.card_left {
    flex-basis: 38%;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
}
